<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>date</title>
  </head>
  <body>
    <% d = Time.now %>
    <p>The date is <%= d.strftime('%A, %B %-d, %Y') %></p>
  </body>
</html>
